.criminalsList {
    display: flex;
    flex-wrap: wrap;
}

.criminal {
    border: solid black 1px;
    margin: 10px;
    width: 25%;
}

h3 {
    margin: 10px 10px 10px 10px;
}

p {
    margin: 5px;
}

h4 {
    margin: 10px;
}

.filters {
    display: flex;
}

.contentContainer {
    display: flex;
}

.note {
    margin: 10px;
    border: black solid 1px;
    background-color: palegoldenrod;
}

.noteListContainer {
    background-color: blanchedalmond;
}